
body.shifted article {  
	top:-100%;
}

/* Hero Component */
.title {
	background:#000 url(../img/articles/michael_stevens_web_fonts.jpg) no-repeat top center;
	background-size:1600px 500px;
	background-attachment:fixed;
	color:#fff;
	height:360px;
	margin:0 0 4px 0;
	overflow:hidden;
	position:relative;
}

.title-timer {
	border:solid 1px #aaa;
	color:#aaa;
	display:inline-block;
	padding:5px 20px;
	position:absolute;
	top:20px;
	right:20px;
	-webkit-border-radius:50px;
	   -moz-border-radius:50px;
			border-radius:50px;
}
.title-copy {
	padding:120px 0 0 0;
	position:absolute;
}

.hero p {
	color:#ccc;
}

/* Pager Component */
.onepage { 
	overflow:hidden; 
	min-height:500px; 
	position:relative;
}
	
.onepage .slides {
	bottom:0px; 
	left:0px; 
	overflow:hidden;
	position:absolute; 
	right:0px; 
	top:0px;
}

.onepage .slides .slide-bg { 
	bottom:0px;
	left:0px; 
	overflow:hidden;
	position:absolute;
	right:0px; 
	top:0px;
	text-align:center;
	outline:solid 1px red;
}

.onepage .slides .stage {
	bottom:0px;
	color:#fff;
	left:0px;
	position:absolute;
	right:0px; 
	text-align:center;
	top:0px;
}

.onepage .slides canvas {
	position:absolute;
	left:50%;
	top:50%;
	margin:-300px 0 0 -300px;
}

@media only screen and (min-width: 0px) and (max-width: 700px) { 
	
	.onepage { 
		overflow:visible; 
		height:auto; 
		position:static;
	}
	
	.onepage .slides {
		position:static;
		height:480px;
		overflow:hidden;
	}
}

.profile {
	line-height:18px;
}

.profile .photo {
	border:solid 2px #397ca0;
	float:left;
	margin:20px 16px 20px 0;
	overflow:hidden;
	width:60px;
	-webkit-border-radius:100px;
	   -moz-border-radius:100px;
			border-radius:100px;
}

.profile .author {
	overflow:hidden;
	padding:30px 0 0 0;
}

.profile .location {
	color:#ccc;
	font-size:14px;
}

/* Spec Component */

.spec {
	margin:10px 0;
}
.spec dt {
	float:left;
	margin:0 20px 0 0;
	width:50%;
}

.spec dd {
	margin:0 0 20px 0;
	overflow:hidden;
}

/* Vertical Dot Component */	
.vertical-dots { 
	display:block; 
	position:absolute; 
	right:10px; 
	top:40%; 
	z-index:99999;
}

.vertical-dots li { 
	background:#fff; 
	color:#fff; 
	display:block; 
	height:7px; 
	margin:7px 0; 
	width:7px;
	-webkit-border-radius:7px;
	   -moz-border-radius:7px;
			border-radius:7px;
}

/* Prettify Component */
.pln{color:#e682a9}
@media screen{
	.str{color:pink}
	.kwd{color:#88cbf0}
	.com{color:#dbc673}
	.typ{color:pink}
	.lit{color:#88cbf0}
	.pun,.opn,.clo{color:#7e8998}
	.tag{color:pink}
	.atn{color:#8ba771}
	.atv{color:#88cbf0}
	.dec,.var{color:orange}
	.fun{color:red}
}
ol.linenums{	
	margin:0;
	padding:8px 5px 8px 60px;
	-webkit-box-shadow:inset 50px 0 0 #202124;
	   -moz-box-shadow:inset 50px 0 0 #202124;
			box-shadow:inset 50px 0 0 #202124;
}