/* Article Body */


/* Article Card Component */
.article-card {
	background-color:#000;
	background-size:180% auto;
	background-position:center top;
	background-repeat:no-repeat;
	outline:solid 1px #333;
	box-shadow:0 0 10px rgba(0,0,0,0.2);
	color:#fff;
	display:block;
	min-height:340px;
	position:relative;
	
	&:hover {
		color:#fff;
		outline:solid 1px #fff;
		
		.shadow {
			background:rgba(0,0,0,0);
		}
	}
	
	.shadow {
		background:rgba(0,0,0,0.2);
		bottom:0px;
		left:0px;
		position:absolute;
		right:0px;
		top:0px;
	}
	
	.title {
		@include modular_scale("padding",60 4 8 4);
		position:relative;
		z-index:9;
		
		h5 {
			@include modular_scale("margin",0 0 1 0);	
		}
	}
}


@media only screen and (min-width: 0px) and (max-width: 760px) {
	
	.article-card {
		margin:10px 0 20px 0;
	}
	
	.article-card-title {
		padding:20px 0;
	}
	
	.article-card-title h2,
	.article-card-title h4 {
		border-left:solid 3px #fff;
		padding:0 20px;
	}
	 
	.article-card-bottom {
		padding:0 20px;
	}
}

.article-card-bottom span {
	display:block;
}

.article-pagination {
	text-align:center;
	padding:50px 0;
}

/* Comment Component */

.article-comments {
	margin:40px 0;
}
.article-comments form {
	border:solid 2px #efefef;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
			border-radius:3px;
}

.article-comments form input[type="text"],
.article-comments form textarea {
	border:none;
	margin:0;
	padding:10px;
	-webkit-border-radius:0px;
	   -moz-border-radius:0px;
			border-radius:0px;
}

.article-comments form input[type="text"] {
	border-bottom:solid 2px #efefef;
}

.article-comments form input[type="submit"] {
	margin:0;
}

.article-comments label:last-child {
	background:#f6f6f6;
	padding:10px;
}

.article-comment {
	border-bottom:solid 1px #ededed;
	margin:10px 0;
	padding:10px 0;
}

.article-comment h5 {
	margin:0 0 0 2px;
}

/* Hamburger Menu Component */
.hamburger {
	background:#ddd;
	display:none;
	float:left;
	height:2px;
	margin:2px 10px 0 0;
	padding:0;
	width:16px;

	&:before {
		background:#ddd;
		content:"";
		display:inline-block;
		float:left;
		height:2px;
		margin:5px 10px 3px 0;
		padding:0;
		width:16px;	
	}
	
	&:after {
		background:#ddd;
		content:"";
		display:inline-block;
		float:left;
		height:2px;
		margin:0;
		padding:0;
		width:16px;	
	}
}

.book-entry {
	.cover {
		img {
			width:80%;
		}
	}
}

/* Progress Component */
.progress {
	background:#000;
	box-shadow:0 0 5px rgba(0,0,0,0.6);
	height:3px;
	margin:-3px 0 0 0;
	position:fixed;
	left:0px;
	top:3px;
	width:0%;
	z-index:99999;
	-webkit-transition: all 1.4s ease;
	   -moz-transition: all 1.4s ease;
			transition: all 1.4s ease;
}

.page-title {
	background-color:colors(black);
	background-size:cover;
	background-attachment:fixed;
	color:colors(white);
	@include modular_scale("margin", 0 0 20 0);
	@include modular_scale("padding", 30 0 8 0);
}

/* Full Screen Background */
.fullscreen {
	background:#000;
	bottom:0px;
	left:0px;
	position:fixed;
	right:0px;
	top:0px;
	z-index:0;
	
	img {
		opacity:0.5;
		width:100%;
	}
}

.gradiant-bg {
	background:url(../img/layout/header-gradiant.png);
	height:225px;
	opacity:1;
	position:absolute;
	width:100%;
	z-index:9999;
	-webkit-transition: opacity 4s ease;
	   -moz-transition: opacity 4s ease;	
			transition: opacity 4s ease;
}

/* Success Message Component */
.success-msg {
	background:#397ca0;
	color:#fff;
	display:none;
	font-weight:600;
	margin:-1px -1px 10px -1px;
	padding:10px;
	-webkit-border-radius:3px 3px 0 0;
	   -moz-border-radius:3px 3px 0 0;
			border-radius:3px 3px 0 0;
}

/* Error Message Component */
.error-msg {
	background:#e74c3c;
	color:#fff;
	display:none;
	font-weight:600;
	margin:-1px -1px 10px -1px;
	padding:10px;
	-webkit-border-radius:3px 3px 0 0;
	   -moz-border-radius:3px 3px 0 0;
			border-radius:3px 3px 0 0;
}

.error-msg .icons {
	font-weight:500;
}

/* Article Detail Styles */
.article-detail {
	
	.article-head {
		background-color:#000;
		background-repeat:no-repeat;
		background-size:1600px auto;
		background-position:top center;
		color:#fff;
		@include modular_scale("margin",0 0 10 0);
		overflow:hidden;
		@include modular_scale("padding",130 0 5 0);
		position:relative;
		width:100%;
		
		a {
			color:#fff;
		}
		
		.lead {
			@include modular_scale("margin",10 0 20 0);
		}
		
		h1 {
			@include modular_scale("font-size", 15);
			@include modular_scale("line-height", 10);
			letter-spacing:-0.04em;
		}
		
		h2 {
			font-weight:weight(extralight);
			margin:8px 0;
		}
		
		h4 {
			margin:16px 0;
		}
		
		.timer {
			border:solid 1px #aaa;
			color:#aaa;
			display:inline-block;
			padding:5px 20px;
			position:absolute;
			bottom:20px;
			right:20px;
			-webkit-border-radius:50px;
			   -moz-border-radius:50px;
					border-radius:50px;
		}
	}
	
	.article-body {
		padding:40px 0;
		
		figcaption {
			background:#f6f6f6;
			color:#333;
			display:block;
			font-size:14px;
			padding:16px 20px;
		}
		
		.article-img-left {
			float:left;
			margin:8px 40px 40px 0;
			width:400px;
			
			&:after {
				content:attr(data-licence);
				display:block;
				font-size:8px;
				text-align:right;
				text-transform:uppercase;
			}
		}
		
		.article-img-right {
			float:right;
			margin:8px -200px 40px 40px;
			width:600px;
			
			&:after {
				content:attr(data-licence);
				display:block;
				font-size:8px;
				text-align:right;
				text-transform:uppercase;
			}
		}
		
		.article-img-fill {
			margin:0;
			
			&:after {
				content:attr(data-licence);
				display:block;
				font-size:8px;
				text-align:right;
				text-transform:uppercase;
			}
		}
		
		.article-img-overfill {
			margin:0 -80px;
			
			&:after {
				content:attr(data-licence);
				display:block;
				font-size:8px;
				text-align:right;
				text-transform:uppercase;
			}
		}
		
		.article-img-full {
			background-attachment:fixed;
			background-size:100% 100%;
			box-shadow:inset 0 0 40px rgba(0,0,0,0.6);
			height:700px;
			margin:80px 0px;
			overflow:hidden;
			position:relative;
			
			figcaption {
				background:rgba(255,255,255,0.8);
				border-top:solid 3px #fff;
				bottom:20px;
				position:absolute;
				right:20px;
			}
			
		}
		
		.article-img-left-full {
			margin:0;
			
			img {
				margin:20px 0 40px 0;
			}
			
			p {
				float:left;
				margin:20px 0 20px 40px;
				width:340px; 
			}
		}
		
		.article-img-right-full {
			margin:0;
			
			img {
				margin:20px 0 40px 0;
			}
			
			p {
				float:right;
				margin:20px 40px 20px 0;
				width:340px; 
			}
		}
		
		
	}
	
}

.profile {
	color:#ddd;
	display:block;
	@include modular_scale("line-height", 5);
	@include modular_scale("margin", 10 5 5 0);
	
	
	&:hover {
		color:#ddd;
	}
	
	strong {
		color:#fff;
		display:block;
	}
	
	.image {
		border-radius:300px;
		@include modular_scale("margin", 5 0);
		overflow:hidden;
		width:50%;
	}
}

/* Social Listing */
.social-list {
	@include modular_scale("margin", 6 0);
	a {
		color:#fff;
		display:block;
		
		&:hover {
			opacity:0.5
		}
	}
}

.story-section {
	@include modular_scale("padding", 30 0 10 0);
}


/* Prettify Component */
.pln{color:#e682a9}
@media screen{
	.str{color:pink}
	.kwd{color:#88cbf0}
	.com{color:#dbc673}
	.typ{color:pink}
	.lit{color:#88cbf0}
	.pun,.opn,.clo{color:#7e8998}
	.tag{color:pink}
	.atn{color:#8ba771}
	.atv{color:#88cbf0}
	.dec,.var{color:orange}
	.fun{color:red}
}
ol.linenums{	
	margin:0;
	padding:8px 5px 8px 60px;
	-webkit-box-shadow:inset 50px 0 0 #202124;
	   -moz-box-shadow:inset 50px 0 0 #202124;
			box-shadow:inset 50px 0 0 #202124;
}