.about {
	color:#fff;
	@include modular_scale("padding",90 0);
}
.articles {
	background-size:100% auto;
}
.contact {
	color:#fff;
	@include modular_scale("padding",40 0 90 0);
}
.discoveries {
	color:#fff;
	@include modular_scale("padding",40 0 90 0);
}
