.about {
	color:#fff;
	@include modular_scale("padding",60 0);
}
.articles {
	background-size:100% auto;
	color:#fff;
}
.books {
	color:#fff;
	@include modular_scale("padding",40 0 20 0);
}
	.book-entry {
		background:#000;
		color:#fff;
		@include modular_scale("padding",40 0 90 0);
	}

.contact {
	color:#fff;
	@include modular_scale("padding",40 0 20 0);
}
.discoveries {
	color:#fff;
	@include modular_scale("padding",40 0 90 0);
}

.resources {
	color:#fff;
	@include modular_scale("padding",40 0 20 0);
}

.work {
	color:#fff;
	@include modular_scale("padding",40 0 20 0);
}