html {
	height:100%;
}

body { 
	background:#fff;
	color:#222;
	height:100%;
	padding:0;
}

@media only screen and (min-width: 0px) and (max-width: 760px) { 
	body {
		padding:45px 0 0 0;
	}
}

article {
	padding:0 0 50px 0;
	position:relative;
	-webkit-transition:all 750ms ease;
	   -moz-transition:all 750ms ease;
		-ms-transition:all 750ms ease;
			transition:all 750ms ease;
}

header {
	left:0px;
	height:60px;
	position:absolute;
	right:0px;
	top:0px;
	z-index:9999;
	
	h1 {
		float:left;
		font-weight:weight(semibold);
		letter-spacing:-0.009em;
		@include modular_scale("margin", 0 6);
		padding:0;
		
		a {
			@include modular_scale("font-size", 5);
			@include modular_scale("padding", 5 0);
			
			&:hover {
				color:#fff;
			}
		}
	}

	a {
		color:#fff;
		float:left;
		font-size:20px;
		line-height:18px;
		padding:22px 16px ;
	}
	
	.header-container {
		position:relative;
		z-index:2;
	}
	
	/* Social Component */
	.social {
		float:right;
		margin:0 20px 0 0;
		
		a {
			color:#fff;
			display:inline-block;
			padding:18px 4px;
			width:20px;
			
			&:nth-child(1) {
				font-size:30px;
			}
			&:nth-child(2) {
				font-size:30px;
			}

			&:nth-child(1):hover { color:#EA4C89; }
			&:nth-child(2):hover { color:#1D87BD; }
			&:nth-child(3):hover { color:#1769FF; }
			&:nth-child(4):hover { color:#397CA0; }
		}
	}




	
	.gradiant-bg {
		background:url(../img/layout/header-gradiant.png);
		height:225px;
		opacity:1;
		position:absolute;
		width:100%;
		z-index:1;
		-webkit-transition: opacity 4s ease;
		   -moz-transition: opacity 4s ease;	
				transition: opacity 4s ease;
	}
}

@media only screen and (min-width: 0px) and (max-width: 760px) { 
	.social {
		display:none;
	}
}

nav {
	
	a {
		color:#fff;
		font-weight:weight(light);
		@include modular_scale("font-size", 4);
		-webkit-transition: opacity 0.5s ease;
		   -moz-transition: opacity 0.5s ease;	
				transition: opacity 0.5s ease;
				
		&:hover {
			color:#fff;
		}
	}
}

@media only screen and (min-width: 0px) and (max-width: 760px) { 
	nav {
		display:none;
	}
}

footer {

}

.modify {
	header {
		.gradiant-bg {
			opacity:0;
		}
		.solid-bg {
			display:block;
			opacity:1;
		}
	}
	
}